@danger: #D42054;

.limbo-umbraco-media-picker {

    &.type-converter {

        max-width: 800px;

        &.obsolete {

            .umb-node-preview {
	            border-color: @danger;
            }

            .alert-obsolete {
	            margin-bottom: -1px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

        }

    }

    &.type-converter-overlay {

        .umb-node-preview {
            padding-left: 10px;
            cursor: pointer;
            &:hover {
                background: #e9e9eb;
            }
        }

        .item {

            &.obsolete {
                border: 1px solid @danger;
                .umb-node-preview__name,
                .umb-node-preview__description,
                .umb-node-preview__icon {
                  color: @danger !important;
                }

                .umb-node-preview:hover {
                    background: #D42054 !important;
                    color: #fff !important;
                    .umb-node-preview__name,
                    .umb-node-preview__description,
                    .umb-node-preview__icon {
                        color: #fff !important;
                    }
                    .label-obsolete {
                        color: #fff !important;
                    }
                }
            }

            .umb-node-preview {
                position: relative;
            }

            .label-obsolete {
	            position: absolute;
	            top: 0px;
	            right: 0px;
	            padding: 3px 7px;
	            font-size: 12px;
                color: @danger !important;
            }

            & + .item.obsolete {
                margin-top: -1px;
            }

        }

    }

}

﻿.limbo-media-picker-separator {
    border-bottom: 2px solid #F4C1BC;
    margin: 0;
    padding: 0;
    margin-bottom: -21px;
    z-index: 2;
    position: relative;

    &-title {
        font-size: 13px;
        text-transform: uppercase;
    }

    &-description {
        font-size: 11px;
        color: #333;
        margin-top: -5px;
    }

    umb-property + umb-property & {
        background: #fff;
        margin-top: -21px;
        padding-top: 41px;
    }

}

.btn.btn-xs.limbo-media-picker-button {
    margin-bottom: 5px;
    padding: 3px 8px;
    font-size: 11px;
    line-height: 19px;
    white-space: nowrap;
}